#pricebutton button {
    padding: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320))) calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
    border: none;
        /* justify-content: center;
    border: none; */
    background-color: #e3e0e0;
    border-radius: 100% !important;
    /* padding: 0; */
}

#pricebutton input {
    /* padding: 0; */
    border: none;
    width: 30px !important;
    flex: 0.45 auto !important;
    /* text-align: center; */
    background-color: transparent;
}

#pricebutton  .qty-left-minus{
    background-color: black; 
    color: white;
}
#pricebutton  .qty-right-plus{
    background-color: #30c4a8; 
    color: white;
}
.addCartHide {
    display: none !important;
}

.add-cart-box-quick-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 30px;
    /* position: fixed; */
    /* top: -90px; */
    /* right: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))); */
    border: 1px solid #ececec;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.129);
    box-shadow: 0px 3px 5px rgba(34, 34, 34, 0.129);
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #30c4a8;
    color: white;
    z-index: 6
}

.add-cart-box-quick-view .add-iamge {
    width: 50px;
    height: auto
}
.add-cart-box-quick-view .add-iamge img {
    width: 50px;
    height: 50px;
}

.add-cart-box-quick-view .add-contain h6 {
    font-weight: 600
}



/* searching of item */

#display {
    list-style-type: circle;
  }
  
  #display li {
     display: block;
  }
  #stack-top{
      position: relative;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  
      margin-top: 1px;
      z-index: 9;
      text-align: left !important;
      /* background-color:red; */
      padding-top:30px;
  }
  #stack-top-header{
      position: relative;
      /* width: 60%; */
      /* margin-left: auto; */
      /* margin-right: auto; */
  
      margin-top: 1px;
      z-index: 9;
      text-align: left !important;
      /* background-color:red; */
      /* padding-top:30px; */
  }